<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/00508f9c-517b-487c-b9bd-10ac906a14f2/resourceGroups/GR_DBGRANNY/providers/Microsoft.ContainerRegistry/registries/registry20191102042305</ContainerResourceId>
    <ContainerResourceName>registry20191102042305</ContainerResourceName>
    <Subscription>Azure para estudiantes</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20191102042305.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/00508f9c-517b-487c-b9bd-10ac906a14f2/resourcegroups/GR_DBGRANNY/providers/Microsoft.Web/sites/GrannyApiSecurity</ResourceId>
    <ResourceGroup>GR_DBGRANNY</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://grannyapisecurity.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>75693c13-0819-4f0d-ac4e-3c92393618db</ProjectGuid>
  </PropertyGroup>
</Project>